
			<div id="disneyID">
			<ul class="inline-links">
		        <ul id="did-signin">
		        	<li>welcome! </li>
		        	<ul>
			            <li><a class="out disneyid-login did-btn">sign up</a> | </li>
			            <li><a class="out disneyid-login did-btn" onclick="return false;">log in</a></li>
					</ul>
				</ul><!-- did-signin -->

				<ul id="did-signout">
					<li>
						<div class="dropdown-item" style="" data-category-slug="did">
							<div class="button dropdown" data-linkname="did"><p class="out"></p></div>
							<div class="dropdown-list" style="display: none;">
								<ul>
									<li><div href="javascript:void(0);" class="disneyid-updateprofile did-btn">My account</div></li>
									<li><div class="in disneyid-logout did-btn" href="javascript:void(0);" onclick="return false;">Log out</div></li>

								</ul>
							</div> <!-- .dropdown-list -->
						</div><!-- dropdown-item -->
					</li>
	            </ul><!-- did-signout -->
			</ul><!-- inline-links -->
			</div><!-- #disneyID -->